<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Question Show (question-page)</title>
  </head>
  <body>
    <h1>Question Show (question-page)</h1>

    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>PROS</th>
            <th>Action</th>
          </tr>
          <tr>
            <td><input class="form-control pro-input"></td>
            <td><button class="btn btn-primary add-pro">Add</button></td>
          </tr>
        </thead>
        <tbody class="pros-list"></tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>CONS</th>
            <th>Action</th>
          </tr>
          <tr>
            <td><input class="form-control con-input"></td>
            <td><button class="btn btn-primary add-con">Add</button></td>
          </tr>
        </thead>
        <tbody class="cons-list"></tbody>
      </table>
    </div>




    <script type="text/template" class="pros-list-template">
      <td><span class="pro"><%= pro %></span></td>
      <td><button class="btn btn-warning edit-pro">Edit</button>
          <button class="btn btn-danger delete-pro">Delete</button>
          <button class="btn btn-success update-pro" style="display:none">Update</button>
          <button class="btn btn-danger cancel" style="display:none">Cancel</button></td></script>
    <script type="text/template" class="cons-list-template">
      <td><span class="con"><%= con %></span></td>
      <td><button class="btn btn-warning edit-con">Edit</button>
          <button class="btn btn-danger delete-con">Delete</button>
          <button class="btn btn-success update-con" style="display:none">Update</button>
          <button class="btn btn-danger cancel" style="display:none">Cancel</button></td></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="assets/javascripts/pro_scripts.js"></script>
    <script src="assets/javascripts/con_scripts.js"></script>

  </body>
</html>
